<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewData["Title"] - app</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        @Html.Partial("_Head")
    </head>
    <body>
        @Html.Partial("_Header0")
        <div id="app" data-v-app="">
            <div class="full vertical">
                <div>
                    <div>
                        @Html.Partial("_Header")
                        <div class="main-container " id="container">
                        @Html.Partial("_Sidebar")
                        <!-- Begin #main -->
                        <main id="main" class="main">
                            @*  
                                @await Html.PartialAsync("_Menu" )
                                <partial name="_PartialName" /> 
                            *@
                            @Html.Partial("_Menu" )

                            @RenderBody()
                        </main>
                        @Html.Partial("_Footer")
                        </div>
                        <div>
                        <div class="overlay-setting"></div>
                        @Html.Partial("_Appsettings")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>
        <input type="hidden" name="u_uuid" id="u_uuid" value="">
        @Html.Partial("_Scripts")
        <!--###-->
        @await RenderSectionAsync("Scripts", required: false)
        <!--###-->
    </body>
</html>