@page
@model razorandmvc.Pages.Cadcli.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Clinome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Clinome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Clicpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Clicpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Clidatanascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Clidatanascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cliendereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cliendereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cliphone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cliphone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Climail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Climail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Uidinsert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uidinsert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.UiddtInsert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.UiddtInsert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Uidupdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uidupdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Uiddtupdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uiddtupdate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.Cliid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
