@page
@model razorandmvc.Pages.Cadcli.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Clinome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Clinome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Clicpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Clicpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Clidatanascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Clidatanascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cliendereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cliendereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cliphone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cliphone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Climail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Climail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Uidinsert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uidinsert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.UiddtInsert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.UiddtInsert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Uidupdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uidupdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Uiddtupdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uiddtupdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente?.Cliid">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
