@page
@model razorandmvc.Pages.Funcaocrud.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcao[0].Funcnome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Funcao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Funcnome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Funcid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Funcid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Funcid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
